/* Add a black background color to the top navigation */
.topnav {
    background-color: lightskyblue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 25px;;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: royalblue;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: royalblue;
    color: white;
}
p
{
    color: white;
}

.topnav{font-family: Verdana, sans-serif; margin:1}

.calculator
{
    border-style: solid;
    text-align: center;
    border-radius: 10px;
    box-sizing: content-box;
    width: 250px;
    height: 280px;
    background-color: #555555;

}

h4
{
    color: white;
}


